
body
{
    
    font-family: 'Butcherman', cursive;
}

.header_div 
{
background:rgb(114, 126, 240);
color: #ffff00;
}
.header_div  p
{
    font-family: 'Blaka', cursive;
    color: rgb(139, 246, 250);
    letter-spacing:2px;
    font-size:30px;
font-weight: bolder;
}

.copy_right
{
position: fixed;
color:rgb(0, 0, 0);
bottom: 0;
width: 100%;
text-align: center;
font-size: 18px;
text-shadow:30px 30px 50px rgb(0, 0, 0);
}

@keyframes color {
    0%   { background: #f79b9b; }
    20%  { background: #e763d1; }
    40%  { background: #5cd5e6; }
    60%  { background: #4b53c0; }
    80%  { background: #86e78e; }
    100% { background: #8065e6; }
  }
  
  body {
    background: #33CCCC; /* Fallback */
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
  }
  h1 {
    text-align: center;
    font-family: 'Kavoon', sans-serif;
    font-size: 2.5em;
    color: white;
  }
